In [ ]:
import numpy as np
import os
import pandas as pd

Pandas is a powerful Python library for data manipulation and analysis. It provides data structures like **DataFrames** and **Series** that make handling large datasets efficient and intuitive. With pandas, users can perform operations like data cleaning, filtering, grouping, merging, and reshaping, all with minimal code. It is a go-to tool for structured data management in Python. Its integration with other libraries like NumPy and visualization tools makes it essential for any data-related tasks.

A DataFrame is a 2-dimensional, tabular data structure in pandas that resembles a table in a relational database or an Excel spreadsheet. It consists of rows and columns, with each column representing a different attribute of the data. Each column in a DataFrame is a Series, and each row has an associated index.

In [ ]:
import os
# The jupyter notebook is launched from your $HOME directory.
# Change the working directory to the workshop directory
# which was created in your username directory under /scratch/vp91
os.chdir(os.path.expandvars("/scratch/vp91/$USER/"))

### Creating a DataFrame from a dictionary

In [ ]:
import pandas as pd


data = {
    'Name': ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india', 'juliet'],
    'Age': [24, 27, 22, 34, 17, 29, np.nan, 72, 25, 19],
    'City': ['New York', np.nan, 'Chicago', 'Auckland', 'Sydney', 'Melbourne', 'Hobart', 'Rio', 'Madrid', 'Malaga']
}
df = pd.DataFrame(data)

df = df.set_index('Name', inplace=False)

print(df)

### Creating a Series from a list

In [ ]:

height = pd.Series([x for x in range(160, 170)], 
                   index=[  'bravo', 'charlie', 'delta', 
                          'echo', 'foxtrot', 'golf', 'hotel', 
                          'india', 'juliet', 'alpha'])
print(height)

In [ ]:

df['height'] = height
print(df)

In [ ]:
df['distance'] = [x for x in range(20, 30)]
df['department'] = ['Hr', 'Accounts', 'Enginnering', 'Enginnering',
                   'Admin', 'Accounts', 'Accounts', 'Hr', 'Hr', 'Admin']
print(df)

### Store csv

In [ ]:
df.to_csv('output.csv', index=False)

### View few rows

In [ ]:
print(df.head())

In [ ]:
print(df.tail())

### Summary statistics

In [ ]:

print(df.describe())

### Information on datatype

In [ ]:

# Get data types of each column
print(df.dtypes)

In [ ]:

# Display shape of the DataFrame
print(df.shape)

### Selection

In [ ]:
# Selecting a single column
df['Name']

In [ ]:
df.index

In [ ]:
# Selecting multiple columns
df[['height', 'Age']]

In [ ]:
# Selecting rows by index
df.iloc[0]         # First row

In [ ]:
df.iloc[0:2]       # First two rows

In [ ]:
# Selecting rows by label
df.loc[0]          # First row (if index starts from 0)

In [ ]:
# Selecting rows by label
df.loc['alpha']          # First row (if index starts from 0

In [ ]:
df.head()

### Manipulation

In [ ]:
df = df.reset_index(drop=False)
df.head()

In [ ]:
df.loc[df['Age'] > 30]  # Rows where Age > 30

In [ ]:
# Filtering based on a condition
adults = df[df['Age'] > 30] 
print(adults)

In [ ]:
# Using multiple conditions
senior_employees = df[(df['Age'] > 30) & (df['height'] > 162)]
print(senior_employees)

In [ ]:
# Sort by a single column
df.sort_values(by='Age', ascending=False)

In [ ]:
# Sort by multiple columns
df.sort_values(by=['Age', 'Name'], ascending=[False, True])

In [ ]:
df.groupby('department')['Age'].mean()

In [ ]:
df.groupby('department').agg({'Age': ['mean', 'min', 'max'], 'distance': ['mean', 'min']})

In [ ]:
# new column
df['allowance'] = df['distance'] * 25

# Modifying an existing column
df['Age'] = df['Age'] + 1

df.head()

In [ ]:
df.drop(columns=['distance'], inplace=True)
df.head()

In [ ]:
# Remove rows by index
df.drop([0, 1], inplace=True)  # Dropping rows by index
df.head()

In [ ]:
# Remove rows with missing values
df.dropna(inplace=True)
df.tail()

In [ ]:
# add new row

data = {'Name': ['xray', 'yankee', 'zulu'], 'Age': [24, 27, ]}

In [ ]:
df.loc[2] = ['zulu', 22]

In [ ]:
new_row = {'Name': 'zulu', 'Age': 22}
df = pd.concat([df, pd.DataFrame([new_row])])
df.tail()

In [ ]:
df = df.drop(index=5)
df.tail()

In [ ]:
df = df[df['allowance'] <= 700]
df.tail()

### Importing files

In [ ]:
df_new = pd.read_csv('output.csv')
df_new.head()

### Summary of File Formats and Corresponding Functions

| File Type       | Function            |
|-----------------|---------------------|
| CSV             | `pd.read_csv()`     |
| Excel           | `pd.read_excel()`   |
| JSON            | `pd.read_json()`    |
| Parquet         | `pd.read_parquet()` |
| SQL             | `pd.read_sql()`     |
| HTML            | `pd.read_html()`    |
| Pickle          | `pd.read_pickle()`  |
| HDF5            | `pd.read_hdf()`     |

These built-in functions allow direct reading of the specified formats into a pandas DataFrame.